<html>
	<head>
		<meta charset="UTF-8">
		<link rel="icon" href="img/wabbit.png"/>
		<title>Application de Nourrissage de Familiers</title>
		<!-- CSS pour icones + police d'écriture Roboto -->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
		<!-- CSS pour les composants de Vuetify -->
		<link rel="stylesheet" type="text/css" href="css/vuetify.min.css">
		
		<!-- CSS de l'application -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<div id="app">
			<v-app style="background-color: #6D4C41" id="inspire">
			<v-toolbar dark style="background-color: #EF6C00" class="draggable-toolbar" app> <!-- Barre de menu -->
				<v-toolbar-title>Gestion de Nourrissage de Familiers Dofus</v-toolbar-title>
				<v-spacer></v-spacer>
				<img src="img/wabbit.png" style="height:50px"/>
				<!-- controles de la fenêtre -->
				<v-btn icon @click="remote.getCurrentWindow().minimize()" class="window-min-button mx-0" dark><v-icon class="window-min-button">remove</v-icon></v-btn>
				<v-btn icon @click="remote.getCurrentWindow().isMaximized() ? remote.getCurrentWindow().unmaximize():remote.getCurrentWindow().maximize()" class="window-max-button mx-0" dark><v-icon>add</v-icon></v-btn>
				<v-btn icon @click="remote.getCurrentWindow().close()" class="window-close-button ml-0" dark><v-icon>highlight_off</v-icon></v-btn>
			</v-toolbar>
			<v-content>
				<v-container fluid>
					<v-layout class="row wrap"> <!-- Barre pour ajouter des familiers -->
						<v-flex class="xs12 sm3">
							<v-tooltip :disabled="listeTypesFamiliersDisponibles.length > 0" bottom>
								<v-select slot="activator" :disabled="listeTypesFamiliersDisponibles.length == 0" dark color="orange darken-3" :items="listeTypesFamiliersDisponibles" v-model="selectedtype" label="Choisissez vos types de familiers" autocomplete></v-select>
								<span>Détendez-vous, vous gérez déjà toute l'animalerie !</span>
							</v-tooltip>
						</v-flex>
						<v-flex class="xs12 sm3">
							<v-btn dark color="orange darken-3" :disabled="selectedtype==''" @click="ajouterTypeFamilier()">Ajouter</v-btn> 
						</v-flex>
						<v-flex class="xs12 sm3">
							<v-radio-group dark v-model="choixTri" label="Tri :" class="pt-0" @change="sauvegardeInfos()">
								<v-radio
								label="Prochain repas le plus proche"
								value="prochainRepas"
								color="orange darken-3"
								></v-radio>
								<v-radio
								label="Nom"
								value="nom"
								color="orange darken-3"
								></v-radio>
							</v-radio-group>
						</v-flex>
						<v-flex class="xs12 sm3">
							<v-switch
							dark
    						label="Activer/Désactiver les sons"
      						v-model="choixAudio"
      						color="orange darken-3"
      						@change="sauvegardeInfos()"> <!-- Bouton Switch son -->
      						</v-switch>
						</v-flex>
					</v-layout>
					<v-layout class="row wrap"> <!-- Affichace des familiers avec leurs icônes -->
						<v-flex 
						
						style="cursor:pointer"
						@click="nourrirTypeFamilier(familier.type)"
						class="xs12 sm4 md2 pl-2 pr-3 py-2 pb-4"
						:key="familier.type"
						class="pas-nourri"
						v-for="familier in familiersTries"> 
						<!-- https://vuetifyjs.com/en/style/colors --> <!-- Effet surbrillance colorée quand je clique -->
							<v-card
							class="elevation-7" 
							style="background-color: #F57C00" 
							class="pas-nourri"
							:id="familier.type"
							v-ripple="{ class: 'green--text' }"
							>
								<v-container fluid>
									<v-layout class="row wrap">
										<v-flex class="xs9">
											{{afficherMinimumProchainRepas(familier.type, familier.heureDernierRepas)}} <br>
											{{afficherMaximumProchainRepas(familier.type, familier.heureDernierRepas)}}
										</v-flex>
										<v-flex class="xs3 ">
											<v-btn flat icon color="red" @click="retirerTypeFamilier(familier.type)"> <!-- Bouton poubelle -->
												<v-icon>delete</v-icon>
											</v-btn>
										</v-flex>	
									</v-layout>	
								</v-container>
								<v-layout class="column align-center">
										<img :src="iconeFamilier(familier.type)" style="width:100%" />	<!-- icone du familier -->
									</v-layout>	
							</v-card>		
						</v-flex>
					</v-layout>
				</v-container>
				<!-- <v-footer :fixed="true" class="elevation-24 px-2 py-2" color="orange darken-3"><v-spacer></v-spacer>Fait avec&nbsp;<v-icon color="red">favorite</v-icon>&nbsp;par LivOriona & Genroa</v-footer> -->
			</v-content>
			</v-app>
		</div>

		<script type="text/javascript">
			const remote = require('electron').remote;
			const app = require('electron');
			console.log(app);
			const moment = require('moment');
			const Vue = require('vue/dist/vue.js');
			const Vuetify = require('vuetify');
			
			Vue.use(Vuetify);
			
			new Vue({
				el: '#app',
				data: () => // Objet où je stocke toutes mes infos (encyclopédie)
				({
					listeFamiliers: [],
					typeFamilier: 
					{
						"wabbit" : 
						{
							nom: "Wabbit", 
							icone: "img\\wabbit.png",
							heureNourrissage: {debut: 23, fin: 48},
							sound: new Audio("sound\\loutre.wav")
						},
						"chacha" :
						{
							nom: "Chacha", 
							icone: "img\\chacha.png",
							heureNourrissage: {debut: 5, fin: 18},
							sound: new Audio("sound\\leopard.wav")
						},
						"bworky" :
						{
							nom: "Bworky", 
							icone: "img\\bworky.png",
							heureNourrissage: {debut: 5, fin: 72},
							sound: new Audio("sound\\sheep.wav")
						},
						"corbac" :
						{
							nom: "Vilain Petit Corbac", 
							icone: "img\\corbac.png",
							heureNourrissage: {debut: 5, fin: 72},
							sound: new Audio("sound\\canard.wav")
						},
						"koalak_sanguin" :
						{
							nom: "Koalak Sanguin", 
							icone: "img\\koalak_sanguin.png",
							heureNourrissage: {debut: 5, fin: 72},
							sound: new Audio("sound\\marmotte.wav")
						},
						"peki" :
						{
							nom: "Péki", 
							icone: "img\\peki.png",
							heureNourrissage: {debut: 3, fin: 36},
							sound: new Audio("sound\\ouaf.wav")
						},
						"nomoon" :
						{
							nom: "Nomoon", 
							icone: "img\\nomoon.png",
							heureNourrissage: {debut: 24, fin: 72},
							sound: new Audio("sound\\fennec.wav")
						},
						"petit_chienchien_noir" :
						{
							nom: "Petit Chienchien Noir", 
							icone: "img\\petit_chienchien_noir.png",
							heureNourrissage: {debut: 11, fin: 36},
							sound: new Audio("sound\\loup.wav")
						},
						"petit_chacha_blanc" :
						{
							nom: "Petit Chacha Blanc", 
							icone: "img\\petit_chacha_blanc.png",
							heureNourrissage: {debut: 5, fin: 36},
							sound: new Audio("sound\\tigre.wav")
						}
					},
					selectedtype: "",
					choixAudio: true,
					choixTri: "prochainRepas",
					remote: null
				}), 

				methods: 
				{ 
					ajouterTypeFamilier(){
						this.listeFamiliers.push({ // Ajouter à la fin de la liste un nouvel élément
							type: this.selectedtype, 
							heureDernierRepas: moment() // moment() me retourne l'heure actuelle
							.locale("fr") // Tu me mets le format en français stp 
							.format("HH:mm // D MMMM") // Format exacte que je demande. C'est la chaîne stockée dans heureDernierRepas
						});
						this.sauvegardeInfos();
						this.selectedtype = ""; // retirer cette ligne pour faire plein de Wabbits :D !! ( ? :( )
					},
					retirerTypeFamilier(type){
						this.listeFamiliers = this.listeFamiliers.filter((fam) => {return fam.type != type}); // 
						this.sauvegardeInfos(); // Je sauvegarde ce que j'ai fait au-dessus
					},

					afficherNomFamilier(type){
						return this.typeFamilier[type].nom; // Dans typeFamilier, tu me récupères le nom
					},
					iconeFamilier(type){
						return this.typeFamilier[type].icone; // Dans typeFamilier, tu me récupères l'icone
					},
					afficherMinimumProchainRepas(type, heureDernierRepas) {
						return moment(heureDernierRepas, "HH:mm // D MMMM") // Fabrication d'un objet qui représente l'heure du dernier repas
							.add(this.typeFamilier[type].heureNourrissage.debut, 'hours') // Dans l'encyclopédie, je récupère l'heure de nourrissage minimale. Le .add rajoute une certaine durée à ma date, et je rajoute en heure l'heure minimum de repas
							.locale("fr")
							.format("HH:mm // D MMMM");
					},
					afficherMaximumProchainRepas(type, heureDernierRepas) {
						return moment(heureDernierRepas, "HH:mm // D MMMM")
							.add(this.typeFamilier[type].heureNourrissage.fin, 'hours')
							.locale("fr")
							.format("HH:mm // D MMMM");
					},
					nourrirTypeFamilier(type) {
   						let index = this.listeFamiliers
   							.map((fam)=>fam.type) // je fais en sorte de ne conserver que la liste des TYPES de familiers
   							.indexOf(type); // Je cherche la position du type que j'ai donné
    					this.listeFamiliers[index].heureDernierRepas = moment() // Le type de familier qui a la position ci-dessus, je modifie son heure de dernier repas
    						.locale("fr")
    						.format("HH:mm // D MMMM");
    					this.listeFamiliers = Array.from(this.listeFamiliers); // Sauvegarder la liste des familiers
    					this.sauvegardeInfos(); // Je sauvegarde ce que j'ai fait au-dessus
    					if (this.choixAudio==true) {
    						this.typeFamilier[type].sound.play();
    					}
						let elem = document.querySelector('#'+type);
						elem.classList.remove("pas-nourri");
						elem.classList.add("nourri");
						
						setTimeout(function(){
							elem.classList.add("pas-nourri");
							elem.classList.remove("nourri");
						}, 1);
						
					},

					sauvegardeInfos() {
						localStorage.setItem('choixAudio', JSON.stringify(this.choixAudio));
						localStorage.setItem('choixTri', JSON.stringify(this.choixTri));
						localStorage.setItem('familiers', JSON.stringify(this.listeFamiliers));
					},

					chargerInfos() {
						let familiers = JSON.parse(localStorage.getItem('familiers'));
						if (familiers!==null) {
							this.listeFamiliers= familiers;
						}

						let choixAudio = JSON.parse(localStorage.getItem('choixAudio'));
						if (choixAudio!==null) {
							this.choixAudio=choixAudio;
						}

						let choixTri = JSON.parse(localStorage.getItem('choixTri'));
						if (choixTri!==null) {
							this.choixTri=choixTri;
						}
					}
				}, 

				computed: {
					listeTypesFamiliersDisponibles() {
						let typesManages = this.listeFamiliers.map((familier) => {return familier.type}); // Je récupère tous les types de familiers gérés actuelement (avec .map)
						return Object.entries(this.typeFamilier) // Je récupère la liste des couples clef/valeur de l'encyclopédie
							.map((entry) => {return {text: entry[1].nom, value: entry[0]}}) // Je transforme chaque entrée en un objet qui contient le nom du familier et le type de familier
							.filter((type) => {return typesManages.indexOf(type.value) == -1}); // Filtre pour retirer les familiers déjà en cours de gestion
					},
					familiersTries() {
						switch(this.choixTri) {
							case "nom":
								return this.listeFamiliers.sort((famType1, famType2) => {
									let type1 = this.typeFamilier[famType1.type];
									let type2 = this.typeFamilier[famType2.type];

									if(type1.nom < type2.nom) return -1;
									if(type1.nom > type2.nom) return 1;

									return 0;
								});

							case "prochainRepas":
								return this.listeFamiliers.sort((famType1, famType2) => {
									let type1 = this.typeFamilier[famType1.type];
									let type2 = this.typeFamilier[famType2.type];

									let prochainRepas1 = moment(famType1.heureDernierRepas, "HH:mm // D MMMM").add(type1.heureNourrissage.debut, 'hours');
									let prochainRepas2 = moment(famType2.heureDernierRepas, "HH:mm // D MMMM").add(type2.heureNourrissage.debut, 'hours');

									let comparaison = prochainRepas1.diff(prochainRepas2, 'minutes');

									if(comparaison < 0) return -1;
									if(comparaison > 0) return 1;
									return 0;
								});
						}
						return this.listeFamiliers;
					}
				},

				created() {
					this.chargerInfos();
					
					this.remote = remote;
				}
			});
		</script>
	</body>
</html>